<!-- HEADER TRIO -->
<section class="container-fluid sub-hero__section--trio">
    <div class="row">

        <!-- SOCIAL LINKS -->
        <% include ../partials/social-links %>
        <!-- end SOCIAL LINKS -->

        <!-- CONTENT -->
        <div class="col-xs-8 col-sm-6 col-md-7 col-sm-push-1 col-md-push-1">
            <div class="trio__header">
                <% include ./breadcrumb %>
                <h1 class="animation-txt--reveal animation-object--extend">
                    <small>
                        <%= page.smallTitle %>
                    </small>
                    <%- page.largeTitle %>
                </h1>
                <p class="animation-txt--reveal">
                    <%- page.description %>
                </p>
            </div>
        </div>
        <!-- end CONTENT -->

        <!-- IMAGE -->
        <div class="col-xs-4 col-sm-6 col-md-5 col-lg-4 col-md-pull-1 animation-img--reveal">
            <img class="sub-hero__section--trio-img-hero" src="<%= image.hero %>" alt="<%= image.heroAlt %>" />
        </div>
        <!-- end IMAGE -->

    </div>
    <div class="row row--eq-height">

        <!-- ACCENT ARROW -->
        <div class="col-md-6 col-lg-7 animation-object--fade-up" style="background: url('<%= image.heroSupport %>') center no-repeat; background-size: cover; transform: translateY(0);">
            <div class="sub-hero__section--trio-arrow-accent hidden-sm hidden-xs">
                <div class="sub-hero__section--trio-arrow-accent-container">
                    <i class="fas fa-arrow-down"></i>
                </div>
            </div>
        </div>
        <!-- end ACCENT ARROW -->

        <!-- CALL TO ACTION -->
        <div class="col-sm-12 col-md-6 col-lg-5 sub-hero__section--trio-cta animation-object--fade-up">
            <h4 class="title__underline">
                <%- cta.title %>
                <% if(cta.categories || cta.tags) {%>
                    Category: <p><%- cta.categories %></p></br>
                    <% if (cta.tags) {%>
                    Tags: <p><%- cta.tags %></p>  
                    <%}%>
                <%}%>
            </h4>
            <%
                className = ""
                if (cta.columns) {
                    className = "class=txt__columns--2";
                }
            %>
            <p <%= className %>>
                <%- cta.description %>
            </p>
            
        </div>
        <!-- end CALL TO ACTION -->

    </div>
</section>
<!-- end HEADER TRIO -->