<!-- HEADER TRIO -->
<section class="container-fluid sub-hero__section--trio">
    <div class="row">
         <div class="social__links hidden-sm hidden-xs">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-pinterest"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-7 col-sm-push-1 col-md-push-1">
            <div class="trio__header">
                <% include ./breadcrumb %>
                <h1>
                    <small>
                        <%= page.smallTitle %>
                    </small>
                    <%- page.largeTitle %>
                </h1>
                <p>
                    <%- page.description %>
                </p>
            </div>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-5 col-lg-4 col-sm-pull-1 col-md-pull-1" data-enigma-speed="-0.2" data-enigma-offset="100" style="transition: all 1.5s cubic-bezier(.18,1,.21,1);">
            <img class="sub-hero__section--trio-img-hero" src="<%= image.hero %>" alt="<%= image.heroAlt %>" />

        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row row--eq-height">
        <div class="col-md-6 col-lg-7" style="background: url('<%= image.heroSupport %>') center no-repeat; background-size: cover;" data-enigma-speed="0.05" data-enigma-offset="-55" style="transition: all 1.5s cubic-bezier(.18,1,.21,1);">
            <div class="sub-hero__section--trio-arrow-accent hidden-sm hidden-xs" data-enigma-speed="-0.25" data-enigma-offset="0" style="transition: all 1.5s cubic-bezier(.18,1,.21,1);">
                <div class="sub-hero__section--trio-arrow-accent-container">
                    <i class="fas fa-arrow-down"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 sub-hero__section--trio-cta" data-enigma-speed="-0.1" data-enigma-offset="0" style="transition: all 1.5s cubic-bezier(.18,1,.21,1);">
            <h4 class="title__underline">
                <%= cta.title %>
            </h4>
            <%
                className = ""
                if (cta.columns) {
                    className = "class=txt__columns--2";
                }
            %>
            <p <%= className %>>
                <%- cta.description %>
            </p>
        </div>
    </div>
</section>
<!-- end HEADER TRIO -->