<%# ../partials/pre-footer-content %>
<% let columns = (12 / preFooterColumns) - 1 %>

    <% for(let i= 0; i < preFooter.length; i++) {%>
        <div class="col-xs-12 col-md-<%=columns%>">
            <h4 class="title__underline">
                    <%- preFooter[i].title -%>
            </h4>
            <p>
                <%- preFooter[i].body -%>
            </p>
            <% if(preFooter[i].btn) {%>
                <div>
                    <a href='<%- preFooter[i].btn.btnLink -%>' class="btn__outline">
                        <%- preFooter[i].btn.btnTxt -%>
                    </a>
                </div>
            <%}%>
        </div>
    <%}%>

        
