<!-- views/pages/about.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<%
    path = "about" // Keep text lowercase. Seperate additional links with "/" and no spaces

    page = {
        smallTitle: 'About Us &',
        largeTitle: 'Our<br>History',
    };

    image = {
        hero: '/images/usa-bridal_about.png',
        heroAlt: '#',
    };

    cta = {
        title: 'learn more'
    }; 

    lp_btf = {
    	row_1_img : '/images/lp-btf-img-01.jpg',
    	row_1_title : 'Customers want more gowns and styles, including the ability to try it on.',
    	row_2_img : '/images/usa-bridal-about-img-row2.png',
    	row_2_title : 'Thousands of square feet full of designer wedding gowns.',
    	row_2_desc : "Bridal Warehouse opened in Louisville, Kentucky in 1994. It was an immediate success. Each superstore location has over one thousand bridal and destination gowns from the world's best formal designers. The entire wedding party is catered to. Brides maids, mothers and  ower girls each have a huge selection to choose from. Each location also features over one thousand prom, pageant and special occasion gowns and dresses. Bridal Warehouse is a unique experience that caters to you. Now, some sixteen years later, Bridal Warehouse has expanded to four bridal superstores and a new bridal/prom/tux boutique store.",
    	row_3_img : '/images/hero.png',
    	row_3_title : 'USA Bridal is honored and proud to have received the following awards and recognitions:',
    	row_3_desc : '<ul><li>Voted the National Bridal  Retailer of the Year.</li><li>Best of the Knot</li><li>Selected Chamber of Commerce Business Person of the Year.</li><li>Multiple Excellence awards from Mori Lee, Casablanca Bridal, Jovani Fashions, Allure Bridal.</li><li>IPA/NPA  ve time winner of International Prom Excellence Award.</li><li>Selected to serve on the Mori Lee Design Team for Bridal and Prom.</li><li>Selected to serve on the Allure Bridal &amp; Night Moves Prom design team.</li></ul>'
    } 
%>

<main class="sub-hero__section--about">
    <div class="row">
            <!-- Add Social Icons -->
            <% include ../partials/social-links %>
            <div class="col-xs-1 col-lg-4 col-sm-push-1 col-md-push-1 sub-hero__section--about-txt">
            <div class="trio__header">
                <% include ../partials/breadcrumb %>
                <h1 class="animation-txt--reveal animation-object--extend">
                    <small><%= page.smallTitle %></small>
                    <%- page.largeTitle %>
                </h1>
            </div>
        </div>
          <div class="col-xs-11 col-lg-7 col-sm-pull-1 col-md-pull-1 sub-hero__img-hero-container animation-object--fade-up">
            <img class="sub-hero__img-hero" src="<%= image.hero %>" alt="<%= image.heroAlt %>">
        </div>
        <div class="col-lg-2"></div>
            <!-- Promo Bar -->
            <div class="about-main-section-btn text-center animation-object--fade-up">
                <a href="#info"><%- cta.title %></a>
            </div>
    </div>
</main>

<% include ../partials/lp-btf-module %>

<%
	bottom_cta = {
        title : 'We wish to extend a special thank you to all of our loyal customers and fantastic employees.',
        desc : 'In a company this size opportunities are always available - managers, bridal associates, tuxedo associates, and alteration specialists are always needed.',
       	link_url : "#",
        link_text : 'view more'
    }  
%>

<% include ../partials/bottom-cta %>

<% include ../partials/footer %>